{% extends 'base.html' %}
{% load static %}

{% block title %}Reservas | Delícias{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reservar/style.css' %}">
{% endblock %}

{% block content %}
<section class="reservas" style='margin-bottom: -5%;'>
    <h2>Reserve sua Mesa</h2>
    <form class="reserva-form" method="post" action="{% url 'reservar' %}">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Seu nome completo" required>
        <input type="email" name="email" placeholder="Seu e-mail" required>
        <input type="tel" name="telefone" placeholder="Telefone" required>
        <input type="date" name="data" required>
        <input type="time" name="hora" required>
        <input type="number" name="pessoas" placeholder="Nº de pessoas" min="1" max="20" required>
        <textarea name="observacoes" placeholder="Preferências, alergias, etc." rows="4"></textarea>
        <button type="submit" class="btn">Confirmar Reserva</button>
    </form>
</section>
{% endblock %}
