.hero {
    background: url('5.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 170px 20px;
}

.hero-content {
    max-width: 700px;
    margin: 0 auto;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    border-radius: 12px;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}
