/* =========================
   NAVBAR
========================= */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.65);
    z-index: 9999; /* sempre acima de tudo */
}

.navbar.scrolled {
    background: #000;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}


.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #c59d5f;
}

.btn-nav {
    background-color: #c59d5f;
    padding: 10px 22px;
    border-radius: 25px;
    color: #fff !important;
    font-weight: 500;
}

.btn-nav:hover {
    background-color: #b08950;
}

.navbar.scrolled {
    background: #000;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
