{% extends 'base.html' %}
{% load static %}

{% block title %}Bebidas | Delícias{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bebidas/style.css' %}">
{% endblock %}

{% block content %}
<section class="bebidas-section" style='margin-bottom: -5%; background-image: url("images.jpeg");'>
    <h2>Nossas Bebidas</h2>
    <p class="descricao">Uma seleção de vinhos, cocktails e refrescos preparados para acompanhar cada prato com perfeição.</p>

    <div class="bebidas-grid">

        {% for taca in preco_por_taca %}
            <div class="bebida-item">
                <img src="" alt="img">
                <h3>{{ taca.nome }}</h3>
                <p>{{ taca.descricao }}</p>
                <span>{{ taca.preco }} AKZ / Taça</span>
            </div>
        {% endfor %}

        {% for bebida in bebidas %}
            <div class="bebida-item">
                <img src="" alt="img">
                <h3>{{ bebida.nome }}</h3>
                <p>{{ bebida.descricao }}</p>
                <span>{{ bebida.preco }} AKZ</span>
            </div>
        {% endfor %}
    
    </div>
</section>
{% endblock %}
