{% load static %}
<link rel="stylesheet" href="{% static "css/navbar.css" %}">

<header class="navbar">
    <div class="container nav-content">
        <a href="{% url 'comum:home' %}" class="logo">
            Restaurante
        </a>

        <nav class="nav-links">
            <a href="{% url 'comum:home' %}">Home</a>
            <a href="{% url 'menu:listar' %}">Menu</a>
            <a href="{% url 'comum:sobre' %}">Sobre</a>
            <a href="{% url 'reservas:criar' %}" class="btn-nav">
                Reservar
            </a>
        </nav>
    </div>
</header>
