{% extends 'base.html' %}
{% load static %}

{% block title %}Menu | Delícias{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/menu/style.css' %}">
{% endblock %}

{% block content %}
<section class="menu-section">
    <h2>Nosso Menu</h2>
    <div class="bkg_image">
        <div class="menu-grid">
            {% for prato in pratos %}
                <div class="menu-item">
                    <img src="" alt="Prato 1">
                    <h3>{{ prato.nome }}</h3>
                    <p>{{ prato.descricao }}</p>
                    <span>{{ prato.preco }} AKZ</span>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
